$main-bg: #fff;
$main-color: #1D84B5;
$sub-color: #f5f5f5;
$main-color-hover: #176087;

$colors: (
    GRAY_TXT_SECOND: #5c6f70,
    WHITE: #fff,
    GRAY: #aaa,
    SILVER: #f7f7f7,
    BLUE: #2855f4,
    BLUE_SEA_LIGHT: #B4C5E4,
);

$txt-main-color: #1d1d1d;
$txt-second-color: #5c6f70;
$txt-white: #fff;
$txt-gray: #aaa;
$txt-silver: #f7f7f7;
$txt-blue: #2855f4;

$btn-main-bg: $main-color;
$btn-main-color: #fff;

$header-height: 90px;
$header-tablet-height: 70px;
$header-mobile-height: 40px;
$header-shrink-height: 60px;
$rating: #f7b500;

$box-shadow: rgba($main-color, 0.7) 0px 8px 20px;
$box-shadow-item: 0px 3px 5px -1px rgba(149, 157, 165, 0.7);

$box-shadow-nav: rgba($main-color, 0.7) 1px 8px 10px;

$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$font-style: "Montez";

$font-design: "Bungee Spice";

$mobile-width: 600px;
$tablet-width: 1024px;
